name: "Test"

on:
  workflow_call:
  workflow_dispatch: {}

jobs:
  go-test:
    name: Go Test
    uses: ./.github/workflows/tests/go-test.yml

  web-test:
    name: Web Test
    uses: ./.github/workflows/tests/web-test.yml